{{set . "title" "Home"}}
{{append . "moreScripts" "/public/js/banner.js"}}
{{append . "moreScripts" "/public/js/yysweb_jQuery.js"}}
{{append . "moreScripts" "/public/js/ddsmoothmenu.js"}}
{{template "header.html" .}}
<div id="ind_banner">
    <ul class="img_list">
        <li>
            <a href="" target="_blank">
                <img src="http://www.gjfxypx.com/uploads/131207/1-13120F2292I11.png" width="1000" height="458" alt="" />
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="http://www.gjfxypx.com/uploads/131218/1-13121R3305N64.png" width="1000" height="458" alt="" />
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="http://www.gjfxypx.com/uploads/131220/1-131220155H2406.png" width="1000" height="458" alt="" />
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="http://www.gjfxypx.com/uploads/131220/1-131220155H2406.png" width="1000" height="458" alt="" />
            </a>
        </li>
    </ul>
    <div id="btn_width">
        <ul id="liwidth">
            <li>
                <a href="javascript:void(0);">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <div id="mainltA">
        <h1>
        <a href="/">金牌保证</a>
        </h1>
        <h2>Advantage</h2>
    </div>
    <div id="mainrtA">
        <div id="about">
            <a href="#">
                <h1>关于我们</h1>
                <h2>/ about</h2>
            </a>
        </div>
        <div class="baoutview"><p>这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍这里是爱飞网的简单介绍...<a href="/">详细>></a></p></div>
        <div class="spacer">
        </div>
    </div>
    <div class="spacer">
    </div>
</div>
<div class="kongHight">
</div>
<div class="content" id="com_thenm_banner" editok="online">
    <a class="pimg_banner">
        <img src="/public/img/step.png" style="border:0px;width:1000px;height:180px;">
    </a>
</div>
<div class="kongHight">
</div>
<div class="content">
    <div id="mainltB">
        <h1>
            <a href="/">私人执照</a>
        </h1>
        <h2><a href="#" style="color:#fff;">飞行培训</a></h2>
    </div>
    <div id="mainrtB">
        <div id="plan">
            <h1>
                <a href="#">仪器仪表执照培训</a>
            </h1>
        </div>
        <div id="design">
            <h1>
                <a href="#">单引擎商业</a>
            </h1>
            <h1 style="padding-top:0px;">
                <a href="#">指导培训</a>
            </h1>
        </div>
        <div id="service">
            <h1>
            <a href="#">多引擎商业</a>
            </h1>
            <h2><a href="#" style="color:#fff;">指导培训</a></h2>
        </div>
        <div id="software">
            <h1>
                <a href="#">FAA/EASA机构</a>
            </h1>
            <h1 style="padding-top:0px;">
                <a href="#">认证指导培训</a>
            </h1>
        </div>
        <div id="figure">
            <h1>
                <a href="#">飞机维护培训</a>
            </h1>
        </div>
        <div class="spacer">
        </div>
    </div>
    <div class="spacer">
    </div>
</div>
<div class="kongHight">
</div>
<div class="content">
    <div id="mainltC">
        <div id="News_tit">
            <a href="News.asp">
                <span>
                <h1> 新闻中心 </h1>
                <h2>news center</h2>
                </span>
            </a>
        </div>
        <ul id="News_cont">
            <li class="no">
                <div class="ltpic">
                    <span>
                    <a href="/">
                        <img src="http://qswin8.ghkk.cn/uploads/allimg/140823/09301W110-0-lp.jpg" alt="外墙清洗之水泥墙面清洗" />
                    </a>
                    </span>
                    <a href="/">
                        <img src="/public/img/nopic.png" alt="图片名称" width="70" height="70" />
                    </a>
                </div>
                <div class="rtcont">
                    <h1>
                    <a href="/">这里是新闻todo:get newsList</a>
                    </h1>
                    <p>这里是新闻todo:get newsList这里是新闻todo:get newsList这里是新闻todo:get newsList这里是新闻todo:get newsList这里是新闻todo:get newsList...<a href="/">详细>></a>
                    </p>
                </div>
                <br class="spacer" />
            </li>
            <li>
                <div class="ltpic">
                    <span>
                    <a href="/a/xinwenzixun/zuixindongtai/2014/0822/112.html">
                        <img src="http://qswin8.ghkk.cn/uploads/allimg/140823/09301W110-0-lp.jpg" alt="多地小学入学报名仍要求" />
                    </a>
                    </span>
                    <a href="/a/xinwenzixun/zuixindongtai/2014/0822/112.html">
                        <img src="/public/img/nopic.png" alt="图片名称" width="70" height="70" />
                    </a>
                </div>
                <div class="rtcont">
                    <h1>
                    <a href="/">这里是新闻todo:get newsList</a>
                    </h1>
                    <p>这里是新闻todo:get newsList这里是新闻todo:get newsList这里是新闻todo:get newsList这里是新闻todo:get newsList这里是新闻todo:get newsList...<a href="/">详细>></a>
                    </p>
                </div>
                <br class="spacer" />
            </li>
        </ul>
    </div>
    <div id="mainrtC">
        <div id="team">
            <h1>
            <a href="#">团队</a>
            </h1>
            <h2>team</h2>
        </div>
        <div id="honor">
            <h1>
            <a href="#">荣誉</a>
            </h1>
            <h2>honor</h2>
        </div>
    </div>
    <div class="spacer">
    </div>
</div>
<div class="kongHight">
</div>
{{template "footer.html" .}}