#applyForm input{
    border: 1px #ddd solid;
}
#applyForm table{
    table-layout: fixed;
}
#applyForm table tr{
    line-height: 28px;
}
#applyForm table tr td{
    margin: 0;
    padding: 10px;
    line-height: 28px;
}
#applyForm table tr td input{
    width: 300px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    padding-left: 10px;
}
#applyForm table tr td input[type="radio"]{
    width: auto;
    line-height: 14px;
    height: 14px;
    margin-right: 10px;
}
#applyForm .btn-wrapper{
    text-align: center;
}
#applyForm .btn-wrapper .coolbg{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#applyForm .btn-wrapper .coolbg:hover{
    background-color: #ff7300;
    color: #fff;
};