@charset "utf-8";
/* 语言版本 */

/* ---------------开始---------------- */

/*全站共用功能*/
.languag{padding-top:5px; float:right;}
.languag li{float:left;width:60px;}
.languag li a{}
.languag li a img{ float:left;padding-top:0px;}

/* -----搜索样式-----*/ 

#action{ display:none;}

/*.i_search li{float:left; height:26px;}
.i_search input{float:left; padding:0; margin:0; border:0; }
.i_search li.is_int input{width:147px; height:26px; margin-left:4px; display:inline; line-height:26px; font-size:12px; font-family:Arial; color:#909090; background:url(../images/i_search_libg.jpg) repeat-x left top;}
.i_search li.is_btn input{width:19px; height:26px; margin-right:4px; display:inline;}*/



/*栏目列表*/

/*友情连接*/
.p_l_list{ width:1020px;}
.p_l_list a{ float:left;   width:184px;padding-right:20px; padding-bottom:20px; }
.p_l_list img{ display:block;  width:184px; height:92px;}





/*下载*/
/*.p_d_list{}
.p_d_list li{ height:28px; padding-left:10px;text-align:right; border-bottom:dashed #d7d7d7 1px;background: url(../images/icon4.gif) no-repeat 3px 10px; width:96%;line-height:28px; font-size:10px; }
.p_d_list li a{display:block;overflow:hidden;width:70%;float:left;text-align:left;font-size:12px;white-space:nowrap;text-overflow:ellipsis;}
*/



/*招聘*/
.p_j_list{}
.p_j_list .ct{text-align:right;line-height:28px; background: url(../images/icon4.gif) no-repeat 3px 10px; width:690px;}
.p_p_list .p_j_list dl{  border:none; border-bottom:1px dashed #6a6a6a; height:40px; margin:0px; margin:0 5px; display:inline;}
.p_j_list .ct dt{padding-bottom:15px; display:block;overflow:hidden;width:70%;float:left; line-height:20px;text-align:left;font-size:12px;white-space:nowrap;text-overflow:ellipsis; font-weight:100;background:url(../images/icon.gif) no-repeat 0px 8px; padding-left:15px;}
.p_j_list .ct dd{padding-bottom:15px; display:block;overflow:hidden;width:11%;float:right; line-height:20px;text-align:left;font-size:12px; padding-right:10px; text-align:right;}
.p_p_list .p_jv_jobs .p_jv_item h1{ border:none; padding:0px; width:auto;}


/*新闻*/

.n_n_list li{float:left; width:1000px; height:30px; line-height:30px;border-bottom: 1px dotted #CCCCCC;}
.n_n_list li a{display:block; width:800px; height:30px; padding-left:10px; display:block; float:left;  overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.n_n_list li a:hover{}
.n_n_list li span{display:block; float:right; text-align:right; padding-right:10px;}

/*产品*/

.p_p_list ul{width:1039px; overflow:hidden;}
.p_p_list li{float:left; display:inline;width:307px; margin:0px 39px 30px 0px;}
.p_p_list li img{width:307px; height:246px;}



/*视频*/
.p_v_list ul{width:1039px; overflow:hidden;}
.p_v_list li{float:left; display:inline;width:307px; margin:0px 39px 30px 0px;}
.p_v_list li img{width:307px; height:246px;}


/* ---------------结束---------------- */


/* ---------------开始首页内容------------------ */
/* 首页推荐新闻*/
.i_n_list{}
.i_n_list .nlist2 li{line-height:24px; padding-left:8px; width:224px; display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; background:url(../images/icon4.gif) no-repeat 8px 10px; padding-left:15px;}
.i_n_list .nlist2 a{display:block; width:220px; overflow:hidden;float:left;font-size:12px; text-align:left; white-space:nowrap;text-overflow:ellipsis;}
.i_n_list .nlist2 a:hover{ text-decoration:none;}

.i_n_list .i_title li{width:90px;}
.i_n_list .i_title a{display:block; overflow:hidden;float:left; padding-left:13px;font-size:12px; text-align:left; white-space:nowrap;text-overflow:ellipsis; background:none; color:#616161;}
.i_n_list .i_title a:hover{ color:#fff;}

/* 首页推荐产品 */
/* 首页友情链接图片列表式 */
.i_l_list{ display:inline-block;}
.i_l_list a{display:block; display:inline; overflow:hidden; float:left; width:30.5%; margin:5px;line-height:22px;white-space:nowrap;text-overflow:ellipsis;}
.i_l_list img{ display:block;width:96%;height:80px; padding:1px;border:1px solid #C4C4C4;}
.i_l_list a:hover img{border:1px solid #900; }


/* 翻页按钮 */
.navPage{clear:both;padding:15px 10px 10px 15px;font-size:10px;font-family:arial,simsun,sans-serif; text-align:center;  width:550px;}
.navPage ul{ text-align:center;}
.navPage li{float:left; padding:0 2px;}
.navPage a{display:block;padding:2px 4px;}
.navPage a:hover,a.pagebarCurrent{color:#ff8700;text-decoration:none; }
/* ---------------结束栏目列表---------------- */


/*产品分类*/



/* -----开始产品类别样式----- */
.ullist_sortnav{ position:relative}
.ullist_sortnav ul{margin:0 auto;}
.ullist_sortnav li{float:left;  text-align:center;background: url(../images/sub_nav_link.gif) repeat-x left bottom;
    border-right: 3px solid #FFFFFF;}
.ullist_sortnav li a{display:block; line-height:44px; font-size:14px; font-weight:bold; color:#fff;  padding:9px 18px 0px 18px;}
.ullist_sortnav li a:hover{color:#FFF; background-position:left top;background: url(../images/sub_gediao_10.jpg) no-repeat center top; padding:9px 18px 0px 18px;}
.ullist_sortnav div{}
.ullist_sortnav div ul{ width:1000px; position:absolute; left:0px;}
.ullist_sortnav div li{background: #9FB6AC;
    border-right: 5px solid #FFFFFF;
    float: left;
    height: 22px;
    margin-top: 8px;
    overflow: hidden;}
.ullist_sortnav div li a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis; display:block; background:none; color:#fff; line-height:22px; font-weight:100;  padding:0px 18px 0px 18px; font-size:12px;}
.ullist_sortnav div li a:hover{ text-decoration:none; background:#4cc8b0; color:#fff; padding:0px 18px 0px 18px; font-size:12px;}
.ullist_sortnav div li{}

.p_s_li_div0{}
.p_s_li1{}
/* -----结束产品类别样式----- */


.sortnavul li{float:left; height:53px; text-align:center;background: url(../images/sub_nav_link.gif) repeat-x left bottom;
    border-right: 3px solid #FFFFFF;}
.sortnavul li a{display:block; line-height:44px; font-size:14px; font-weight:bold; color:#fff; padding:9px 18px 0px 18px;}
.sortnavul li a:hover{color:#FFF; background-position:left top;background: url(../images/sub_gediao_10.jpg) no-repeat center top;padding:9px 18px 0px 18px;}
.sortnavul li ul{ width:500px; }
.sortnavul li ul li{ height:22px; line-height:22px; background:none; float:left;}
.sortnavul li ul li a{ background-color:#9FB6AC;}
.sortnavul li ul li a:hover{color:#FFF; background-position:left top;}



/*.sidebar{width:206px; padding:10px 11px; border:1px solid #cccccc;}
.sidebar li{float:left; width:206px; height:30px; margin-bottom:5px; line-height:30px;}
.sidebar li a{display:block; width:181px; height:30px; padding-left:25px; background:url(../images/sidebar_abg.jpg) no-repeat left bottom;}
.sidebar li a:hover{color:#FFF; background-position:left top;}
.sidebar li a.on{color:#FFF; background-position:left top;}*/






/*单页图文分类*/

.sortnavbtn{ background: url(../images/lb.gif) no-repeat scroll 40px 0 transparent; color: #D4D4D4; font-weight: bold;line-height: 32px;}
.sortnavbtn a{background: url(../images/lb.gif) no-repeat 40px 0;color: #D4D4D4;display: block;font-weight: bold;line-height: 32px;overflow: hidden;padding-bottom: 8px;padding-left: 50px;text-overflow: ellipsis;white-space: nowrap; width: 177px;}
.sortnavbtn a:hover{line-height:32px; background:url(../images/lhover.gif) no-repeat 40px 0px;padding-left:50px; color:#c30708;font-weight:bold; text-decoration:none;}
/*首页产品分类*/
.i_ullist_sortnav{float:left;}
.i_ullist_sortnav li{ border-bottom:1px solid #ffefe1; width:150px;}


/* ---------------开始栏目详细---------------- */

/*产品展示详细*/
.productview{ position:relative;}
.producttitle{display:block;width:100%; padding:10px auto;line-height:30px;font-size:16px;font-weight:bold; text-align:center;}
/*默认*/
.productimg{margin:0 auto; text-align:center; padding-bottom:15px; display:block; width:600px;}
.productinfos{ overflow:hidden; display:none; text-align:center; }
.productimg a { }
.productimg a img{margin:0;padding:0;width:600px;}
.productimg a:hover img{}
/*IE6固定大小*/
*html .productimg a img{ width:400px;}
/*展示1*/
.productbigimg{ position:absolute; display:inline; width:100%;text-align:center;}
.productinfoslist{overflow:hidden;padding-left:330px; height:330px;}
.shopping{ padding-left:80px;}
.productinfoslistfos{ margin:20px 0px; float:left; width:340px;}
.productinfoslist ul{width:330px; padding-bottom:20px;}


.productremark{ clear:both;line-height:25px;}
.productremark .title{overflow: hidden; font-weight:bold; line-height:29px; display:none;}

/*内容详细页*/
.p_n_title{width:100%;text-align:center;line-height:30px;font-size:16px;font-weight:bold;text-overflow:ellipsis;}
.remark{line-height:22px; padding-top:10px; line-height:25px; font-size:14px;}
.remark1{line-height:22px; line-height:25px; font-size:14px;}
/*下载链接*/
.download_btn{text-align:center;line-height:30px;}
/*新闻详细*/
.p_n_info{line-height:30px; text-align:right;}
.p_n_video{text-align:center;}
/* 产品/视频详细 */
.product_others{ padding-top: 8px; clear: both; padding-left: 8px; }
.product_others li{	display: block;	clear: both;line-height: 20px;}
.onlinebuy_list .pc01{width:500px;margin:0 auto; text-align:center;}
/*.onlinebuy_list .pc01 img{width:500px;}*/
.onlinebuy_list .pc01 img{border:1px solid #bcbcbc;margin:0;padding:0;max-width:500px;width:expression(this.width>500?"500px":this.width);max-height:500px; height:expression(this.height>500?"500px":this.height);}
.onlinebuy_list .pc01 a:hover img{border:1px solid #900;}
/*IE6固定大小*/
*html .onlinebuy_list .pc01 img{ width:400px;}
.viewproduct_infos{clear:both;padding-left:8px;overflow: hidden;}
/*导航上下记录*/
.prevnext{width:100%;padding:10px 0;line-height:20px;}
.prevrecord,.nextrecord{width:1000px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/* 留言 */
.gbook_formbtn{padding:4px;}
.gbook_formbtn goback_btn{clear:both;margin-left:150px;background:#888888;color:#FFFFFF;border:solid 1px #666666;font-size:11px;font-weight:bold;padding:4px 6px;}
.gbook_formbtn input{width:100px;line-height:20px; margin-right: 8px; border:solid 1px #dedede;color:#25262b;background:#f6f5fa;cursor:pointer;}
.gbook_indexpost{margin-bottom:8px;}
.gbook_tblist{margin-bottom:4px;}
.p_g_gbook{padding: 0px; }
.p_g_title{font-weight:bold;line-height:30px;text-align:left; padding-left:10px; clear: both;}
.p_g_content{text-align:left;line-height:24px; padding:0 5px; clear: both;}
/* 招聘 */
.p_jv_jobs{ line-height:24px; margin:0px 0px; padding:0px;}
.p_jv_jobs .jobs{height:33px;}
.i_p_list .p_jv_item{ clear:both; width:660px;}
.p_jv_title{float:left;clear:left;text-align:left;font-weight:bold;}
.p_jv_cont{float:left;text-align:left;}
.p_jv_contb{text-align:left;clear:both;padding:0 0 10px 20px;}
/* 网站地图 */
.p_m_div{ margin:auto; clear: both; text-align:left; overflow:hidden; width:100%;}
.p_m_div a{line-height:20px;height:20px; font-size:12px;}
.p_m_div a:hover{line-height:20px;font-size:12px;}
.p_m_ul{margin:0 0 6px 0;	display: table; border-bottom: 1px dotted #CCCCCC;width:100%; padding-bottom:5px;}
.p_m_div2 .p_m_ul{margin:0px;float:left;width:auto;border:none; padding-left:10px;}
.p_m_menu{ font-weight: bold; clear: both;}
.i_p_list .p_m_ul li,.menusort_list li{white-space: nowrap; width:653px;}
.p_m_class,.menusort_lists{margin-left: 24px;}
.p_m_div2 {margin:0 10px 0 0;}
/* ----开始网站Rss订阅中心---- */
.onlinerss{width:220px;margin:0 0 10px;padding-bottom:5px;border:solid #dbdbdb 1px;background:#f0f0f0;}
.onlinerss dl {width:214px;height:28px;margin:0 auto; padding-top:6px;background:url(../images/t1.jpg) no-repeat bottom; }
.onlinerss dt { float:left;padding-left:25px;color:#fff; line-height:20px; font-size:14px;}
.onlinerss dt a,.onlinerss dt a:hover{color:#fff;text-decoration:none;}
.onlinerss li{padding-bottom:10px;text-align:center; }
.onlinerss li a.a1{display:block;overflow:hidden;width:200px;height:170px;margin:0 auto;border:1px solid #cbc5bf; }
.onlinerss li a.a1 img{width:200px;}
.onlinerss li a.a2{display:block;overflow:hidden;width:200px;margin:0 auto;;line-height:22px;white-space:nowrap;text-overflow:ellipsis}
.onlinerss .singletxt_main{width:192px;margin:0 auto; padding:10px; border:solid #c8c8c8 1px; border-top:none; background:#fff;  line-height:20px;}
.main_rssxmllist{clear:both;display:block;}
.main_rssxmllist ul{display:block;padding-bottom: 2px; padding:0px; margin:0px;}
.rssmain_topbar{clear:both;display:block;height:24px;line-height:24px;padding:0px 4px;border:solid 1px #CCCCCC;}
.rssmain_toptit{float:left;font-weight:bold;}
.rssmain_topbtn{display:block;float:right;padding-top:2px;}
.rssmain_topbtn .rssxml_url{display:block; margin:4px 15px 0 0;float:left;line-height:20px;}
.rssmain_topbtn .rssxml_btn{display:block;float:left;line-height:20px;}
.rssxml_btn .subscribe_btn{ clear:both;display:block;cursor:pointer;background:url(../../images/rss_icon.jpg) no-repeat left center;padding:2px 4px 0px 20px}
.rssxml_btn .subscribe_list{top:22px;right:-5px;z-index:1000;position:absolute;padding:4px;border:solid 1px #DDD;background-color:#FFF;}
.subscribe_list a{clear:both;display:block;padding:4px;}
.viewitem_list{margin:0px;padding:4px 4px 8px;}
.viewitem_list ul{margin:0px;padding:0px;display:table;width:100%;line-height:20px;}
.viewitem_list ul li{ line-height:20px;}
.viewitem_list ul li a{ display:block; overflow:hidden;float:left; width:700px; white-space:nowrap;text-overflow:ellipsis}
.viewitem_list ul span{float:right; padding-right:0px;}
#com_pmodule_rssonline{text-align:center; margin:0 auto;}
#com_pmodule_rssonline li{padding:3px 0;}
#com_rssonline li{text-align:center; margin:0 auto; padding:5px 0;}

.sidebar{}
.sidebar .rss1{background: url(../images/t1.jpg) no-repeat scroll 0 0 transparent;height: 29px;width: 194px;}
.sidebar .rss1 span{ color: #fff;font-size: 14px;font-weight: bold;line-height: 32px;padding-left: 34px;}
.sidebar .rss1 span a{  color: #fff;}


/* ------在线调查---- */
.survey_indexshow{margin:0px 0 15px 5px;}
.survey_indexpost{padding-left: 20px;margin-bottom: 8px;}
.survey_post input{ border: 0px;}
.survey_postbtn{line-height: 30px;}
.survey_postbtn input{line-height:20px; margin-right: 8px; cursor: pointer; width: 100px;   background:#ddd; color:#25262b;border:solid 1px;}
/* ---------------结束栏目详细---------------- */


/* ---------------开始扩展区----------------- */

#com_definedkeys_1,#com_definedkeys_2,#com_definedkeys_3,#com_definedkeys_4{ margin-bottom:-6px;}
.i_u_def1,.i_u_def2,.i_u_def3,.i_u_def4,.p_u_def1,.p_u_def2,.p_u_def3,.p_u_def4{overflow:hidden;}
.move_divouter .content{overflow:hidden;line-height:20px;}
.move_divouter .list{overflow:hidden; }
.move_divouter .title a{ text-decoration:none;}
#index #com_definedkeys_1{display:inline;}
.i_u_def1{width:260px; margin-bottom:5px;}
.i_u_def1 .title{height: 28px; width:260px; display:none;}
.i_u_def1 .title .tt{color: #000;display: block;float: left;font-family: "΢ź";font-size: 14px;line-height: 25px;}
.i_u_def1 .title .tm{display: inline-block;float: right;margin:0px;text-decoration: none; font-family: Verdana;line-height: 25px;}
.i_u_def1 .content{padding:0px;width:260px;}
.i_u_def1 .list{ padding:0px; width:260px;}
.i_u_def1 .list a{  float: left;padding:0px 5px 0px 5px;}
.i_u_def1 .list a img{display:block;height: 80px;width:120px;}
.i_u_def1 .list a span{display:block;overflow:hidden;line-height:25px; height:30px; width:120px; white-space:nowrap;text-overflow:ellipsis; text-align:center; cursor:pointer;}
.i_u_def1 .list a:hover span{ text-decoration:none; }


#index #com_definedkeys_2{display:inline;float:left;}
.i_u_def2{width:260px; padding-bottom:5px;}
.i_u_def2 .title{height: 28px; width:260px;}
.i_u_def2 .title .tt{color:#000;display: block;float: left;font-family: "΢ź";font-size: 14px;line-height: 25px;}
.i_u_def2 .title .tm{display: inline-block;float: right;margin:0px;text-decoration: none; font-family: Verdana;line-height: 25px;}
.i_u_def2 .content{padding:0px;width:260px;}
.i_u_def2 .list{ padding:0px; width:260px;}
.i_u_def2 .list a{float: left;padding:0px 5px 0px 5px;}
.i_u_def2 .list a img{display:block;height: 80px;width:120px;}
.i_u_def2 .list a span{display:block;overflow:hidden;line-height:25px; height:30px; width:120px; white-space:nowrap;text-overflow:ellipsis; text-align:center; cursor:pointer;}
.i_u_def2 .list a:hover span{ text-decoration:none;}

#index #com_definedkeys_3{}
.i_u_def3{width:260px; padding-bottom:5px;}
.i_u_def3 .title{height: 28px; width:260px;}
.i_u_def3 .title .tt{color: #000;display: block;float: left;font-size: 14px;line-height: 25px;}
.i_u_def3 .title .tm{display: inline-block;float: right;margin:0px;text-decoration: none; font-family: Verdana;line-height: 25px;}
.i_u_def3 .content{padding:0px;width:260px;}
.i_u_def3 .list{ padding:0px; width:260px;}
.i_u_def3 .list ul{ padding:0px;}
.i_u_def3 .list li{  height: 23px;line-height: 23px;position: relative;}
.i_u_def3 .list li span{float:right;}
.i_u_def3 .list li a{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 180px;float: left;}



#com_definedkeys_4{}
.i_u_def4{width:902px; margin-top:10px;}
.i_u_def4 .title{height:28px; line-height:28px; background:#8e5100;}
.i_u_def4 .title .tt{color:#f5e1af; float:left; font-size:16px; padding-left:10px;}
.i_u_def4 .title .tm{color:#f5e1af; float:right; font-size:16px; padding-right:10px;}
.i_u_def4 .content{width:840px; padding:30px; border:1px solid #8e5100; overflow:hidden;}
.i_u_def4 .list{width:840px; padding:30px; border:1px solid #8e5100; overflow:hidden;}
.i_u_def4 .list li{float:left; }
.i_u_def4 .list li img{width:155px; height:122px;}
.i_u_def4 .list li a{display:block; width:155px;   padding:5px 6px; color:#8e5100;}
.i_u_def4 .list li a:hover span{ color:#9e000d;}
.i_u_def4 .list li a span{width:155px; text-align:center; line-height:30px; height:30px; color:#8e5100;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}





.p_u_def1{width:902px; margin-bottom:10px;}
.p_u_def1 .title{height:28px; line-height:28px; background:#8e5100;}
.p_u_def1 .title .tt{color:#f5e1af; float:left; font-size:16px; padding-left:10px;}
.p_u_def1 .title .tm{color:#f5e1af; float:right; font-size:16px; padding-right:10px;}
.p_u_def1 .content{width:840px; padding:30px; border:1px solid #8e5100; overflow:hidden;}
.p_u_def1 .list{width:840px; padding:30px; border:1px solid #8e5100; overflow:hidden;}
.p_u_def1 .list li{float:left; }
.p_u_def1 .list li img{width:155px; height:122px;}
.p_u_def1 .list li a{display:block; width:155px;   padding:5px 6px; color:#8e5100;}
.p_u_def1 .list li a:hover span{ color:#9e000d;}
.p_u_def1 .list li a span{width:155px; text-align:center; line-height:30px; height:30px; color:#8e5100;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}



.p_u_def2 { margin-top:10px; width:256px;}
.p_u_def2 .title{height:28px; line-height:28px; background:#8e5100;}
.p_u_def2 .title .tt{color:#f5e1af; float:left; font-size:16px; padding-left:10px;}
.p_u_def2 .title .tm{float: right;font-size: 14px;padding-right: 10px; display:none;}
.p_u_def2 .content{width:224px; padding:10px 15px; border:1px solid #8e5100;}
.p_u_def2 .list{width:224px; padding:10px 15px; border:1px solid #8e5100;}

.p_u_def2 .list li{float:left; width:224px; height:30px; line-height:30px; font-size:15px;}
.p_u_def2 .list li a{display:block; width:204px; height:30px; padding-left:20px; color:#8e5100; background:url(../images/sidebar_abg.jpg) no-repeat left center;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.p_u_def2 .list li a:hover{ color:#9e000d; text-decoration:underline;}





.p_u_def3{width:631px; margin-top:10px;}
.p_u_def3 .title{height:28px; line-height:28px; background:#8e5100;}
.p_u_def3 .title .tt{color:#f5e1af; float:left; font-size:16px; padding-left:10px;}
.p_u_def3 .title .tm{color:#f5e1af; float:right; font-size:16px; padding-right:10px;}
.p_u_def3 .content{float:right; width:569px; padding:30px; border:1px solid #8e5100; overflow:hidden;}
.p_u_def3 .list{float:right; width:569px; padding:30px; border:1px solid #8e5100; overflow:hidden;}
.p_u_def3 .list li{float:left; }
.p_u_def3 .list li img{width:175px; height:138px;}
.p_u_def3 .list li a{display:block; width:175px;   padding:5px 7px; color:#8e5100;}
.p_u_def3 .list li a:hover span{ color:#9e000d;}
.p_u_def3 .list li a span{width:175px; text-align:center; line-height:30px; height:30px; color:#8e5100;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/* ---------------开始扩展区----------------- */

/* ---------------开始底部--------------- */
/*.footer{ text-align:center;}
.footer #com_othermenu{padding:15px 0 5px 0;}
.footer #com_copyright{padding:5px 0;}
.footer #com_webcounter{ padding-top:5px;}
/* ---------------结束底部--------------- */
