@charset "utf-8";

@import url(ddsmoothmenu.css);
@import url(gediao.css);
@import url(dll.css);
@import url(apply.css);

.header{height:109px; background:url(/public/img/header_bg.jpg) repeat-x left top; overflow:hidden;}
.logo{float:left;}

.hotline{float:right; margin-top:50px;}
.top_icon{float:right; margin:73px 40px 0 0;}
.top_icon li{float:left;}

.i_nav{width:100%; height:40px; }
/*.i_nav li{float:left; width:115px; height:40px; line-height:40px; text-align:center; font-size:14px;}
.i_nav li.line{width:2px; background:url(/public/img/nav_line.jpg) no-repeat left top;}
.i_nav li a{display:block; width:115px; height:40px; color:#FFF;}
.i_nav li a:hover{color:#FFF; text-decoration:underline;}
.i_nav li a.on{color:#FFF; text-decoration:none;}*/

/*.i_banner{width:100%; height:390px; margin:10px auto 0; overflow:hidden;}
.i_banner img{height:390px;}*/
.i_banner{height:390px; width:1440px;}
.banner{height: 390px;
    overflow: hidden;
    position: relative;
    width: 100%;}

.i_news{width:1000px; height:34px; margin:0 auto; line-height:34px; overflow:hidden;}
.i_news h3{float:left; width:70px; font-weight:bold; color:#333;}
.i_news ul{float:left; width:930px; overflow:hidden;}
.i_news li{float:left; padding-right:30px;}

.i_container{padding-bottom:10px; background:url(/public/img/i_cbg.jpg) repeat-x left top #ededed;}
.i_cin{width:970px; margin:0 auto; padding:5px 0;}
.i_pro01{width:963px; height:190px; margin:0 auto; padding-bottom:20px; background:url(/public/img/icon01.jpg) no-repeat center bottom;}
.i_pro01 li{float:left; width:240px; height:170px; padding-top:20px; text-align:center; border-right:1px dotted #999;}
.i_pro01 li.plast{border:0;}
.i_pro01 li h4{height:95px;}
.i_pro01 li h4 img{ width:235px; height:95px;}
.i_pro01 li strong{display:block; margin-top:10px; line-height:24px; font-size:16px; font-family:microsoft yahei; width:220px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden; padding:0px 10px;}
.i_pro01 li span{display:block; line-height:24px; color:#6d6d6d; overflow:hidden; height:48px; width:220px; padding:0px 10px;}

.i_box01{width:970px; margin-top:10px;}
.i_ad{float:left; width:690px; height:270px; overflow:hidden;}
.i_txt{float:right; width:245px; height:250px; padding:10px; background:url(/public/img/icon02.jpg) no-repeat left top; overflow:hidden;}
.i_txt h3{display:block; height:30px; line-height:30px; font-family:microsoft yahei; font-size:14px;}
.i_txt_c{ line-height:24px; height:220px; overflow:hidden;}

.i_container2{padding-bottom:10px; background:url(/public/img/i_cbg02.jpg) repeat-x left top #e2e2e2;}
.i_bnav{width:970px; margin-top:20px; font-family:microsoft yahei;}
.i_bnav dl{float:left; width:192px; line-height:24px; text-align:center;}
.i_bnav dl dt{ font-weight:bold;}
.i_bnav dl dd{}

.i_link{width:970px; margin-top:15px; line-height:24px;}
.i_link h3{float:left; display:block; padding-left:20px; width:65px; height:24px; background:url(/public/img/icon03.jpg) no-repeat left center;}
.i_link a{padding:0 10px;}

.footer{padding:15px 0; text-align:center; background:#999;}
.copyright{text-align:center; margin-top:10px; color:#ffffff;}
.footer_nav{height:20px; color:#FFF; line-height:20px;}
.footer_nav a{padding:0 10px; color:#FFF;}
.jsq{ margin-top:10px; color:#fff;}
/* ��ҳ���ֽ��� */

/* ��ҳ���ֿ�ʼ */
.p_banner{width:980px; height:220px; margin:5px auto 0; overflow:hidden;}
.p_banner img{width:980px; height:220px;}

.p_container{width:980px; margin:5px auto;}

.p_left{float:left; width:230px; overflow:hidden;}
.p_right{float:right; width:740px; overflow:hidden;}

/*.sidebar{width:206px; padding:10px 11px; border:1px solid #cccccc;}
.sidebar li{float:left; width:206px; height:30px; margin-bottom:5px; line-height:30px;}
.sidebar li a{display:block; width:181px; height:30px; padding-left:25px; background:url(/public/img/sidebar_abg.jpg) no-repeat left bottom;}
.sidebar li a:hover{color:#FFF; background-position:left top;}
.sidebar li a.on{color:#FFF; background-position:left top;}*/
.i_subnav .i_newsspan a { padding: 0 5px;display: block;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 255px;}
#i_p_outer {display: block;overflow: hidden;width: 900px;float: left;}
.i_subnav{ width:1000px;float: left;}
.ad02{margin-top:10px;}

.pl_news{width:208px; padding:10px; border:1px solid #cccccc;}
.pl_news li{float:left; width:198px; height:24px; line-height:24px; padding-left:10px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; border-bottom:1px dotted #cccccc; background:url(/public/img/icon04.jpg) no-repeat left center;}

.p_r_t{width:738px; height:28px; line-height:28px; font-family:microsoft yahei; border:1px solid #d9d9d9; background:url(/public/img/p_r_bg.jpg) repeat-x left top;}
.p_r_t h3{float:left; padding-left:10px; width:400px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}
.p_path{float:right; color:#888; padding-right:10px;}
.p_path a{color:#888;}
.p_path a:hover{color:#888; text-decoration:underline;}

.p_about{padding:20px; line-height:25px;}

/* ��ҳ���ֽ��� */