{{set . "controllerName" .controllerName}}
{{set . "title" "爱飞网"}}
{{append . "moreStyles" "/css/v2/form/bootstrap-horizontal-form.css"}}
{{append . "moreScripts" "/public/js/page/register.js"}}
{{template "common/header.html" .}}
<!--content-->
<div class="content">
    {{template "common/navigation.html" .}}
    <!--right-->
    <div class="right">
        <div class="title1"><a href="#">飞行网</a><span>></span>注册</div>
        <div class="company-about">
            <div class="title2">
                欢迎注册爱飞网
            </div>
            <div class="coommon-p-word" ng-controller="RegisterController" style="padding-top:20px;">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="input01">用户名：</label>
                            <div class="controls">
                                <input ng-model="username" type="text" placeholder="用户名" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="input01">密码：</label>
                            <div class="controls">
                                <input ng-model="password" type="text" placeholder="密码" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success" ng-click="register()">注 册</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
    <!--right-->
    <div class="clear"></div>
</div>
<!--content_end-->
{{template "common/footer.html" .}}