<div id="footer">
    <div class="content">
        <div id="endlt">
            <div id="tit">
                <a href="#">
                    <span>
                    <h1>联系我们</h1>
                    <h2>contact us</h2>
                    </span>
                </a>
            </div>
            <div id="cont">
                <div class="end-ltkuang">
                    <div id="tel"><img src="/public/img/tel.jpg" alt="24小时热线" height="94" width="295" /></div>
                    <div id="contact">
                        <div id="add">
                            <h1>add:</h1><p>这里是地址</p><div class="ser-kuang">
                                <form id="productSearch" name="productSearch" action="products.htm" method="get">
                                    <input type="text" id="keywords" name="keywords" class="ser-text" title="输入您想找的关键字或词..." value="" />
                                    <input type="submit" align="middle" value="" class="ser-btn" title="输入您想找的关键字或词..." />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ewm"><img src="/public/img/erm.jpg" alt="二维码" height="94" width="94" /><h1>微信二维码</h1>
                </div>
            </div>
        </div>
        <!-- <div id="endrt">
            <div id="cont">
                <ul>
                    <li><a href="#">呼市分公司</a></li>
                    <li><a href="#">焦作分公司</a></li>
                    <li><a href="#">淄博分公司</a></li>
                    <li><a href="#">东营分公司</a></li>
                    <li><a href="/" target="_blank">网站模板</a></li>
                </ul>
            </div>
        </div> -->
        <div class="spacer">
        </div>
    </div>
    <div id="copy">
        <div class="content">
            <div id="left"><font face="宋体">Copyright &copy; 2002-2011 lovefly.com爱飞网 <a href=http://www.lovefly.com target='_blank'>Power by lovefly</a>&nbsp;&nbsp;</font>

        </div>
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
            <span class="bds_more">
            <h1> 分享到 ：</h1>
            </span>
            <a class="bds_qzone">
            </a>
            <a class="bds_tsina">
            </a>
            <a class="bds_tqq">
            </a>
            <a class="bds_renren">
            </a>
            <a class="bds_t163">
            </a>
        </div>

        <div class="spacer">
        </div>
    </div>
</div>
</div>
<div id="elevator_item">
    <a id="elevator" onClick="return false;" title="Top" ></a>
    <a class="qr" href="/" target="_blank" ></a>
</div>
<script src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular.min.js"></script>
<script src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-sanitize.min.js"></script>
<script src="http://cdn.staticfile.org/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://cdn.staticfile.org/moment.js/2.7.0/moment.min.js"></script>
<script src="/public/js/main.js"></script>
{{range .moreScripts}}
    <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
{{end}}
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253656702'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1253656702%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>