<meta charset="utf-8">


<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>lovefly-{{.title}}</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico.png">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {{range .moreStyles}}
        <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}
        <link rel="alternate" type="application/rss+xml" title="lovefly" href="/rss/">
        <link rel="canonical" href="http://www.lovefly.com/">
        <base target="_blank">
        <meta name="keywords" content="" />
        <meta name="description" content="lovefly">
        <link rel="shortcut icon" href="" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/public/css/css_style/layout.css" />
        <script type="text/livescript" src="/public/js/jquery-1.9.1.min.js"></script>
        <script type="text/livescript" src="/public/js/common.js"></script>
        <script type="text/livescript" src="/public/js/top.js"></script>
        <script type="text/livescript" src="/public/js/yysweb_jQuery.js"></script>
        <script type="text/livescript" src="/public/js/ddsmoothmenu.js"></script>

    <body ng-app="lovefly">
        <div id="header">
            <div class="logo" id="com_logo" editok="online">
                <a href="/">
                    <img src="/public/img/logo-new.png" alt="logo" />
                </a>
                <!-- <div id="top_navigation">
                    <ul>
                        <li>
                            <a href="#">爱飞网飞行学校</a>
                            <dl>
                                <dd class="no"><a href="#" target="_blank">圣地亚哥国际飞行培训学校</a></dd>
                                <dd><a href="#" target="_blank">佛罗里达航空职业协会</a></dd>
                                <dd><a href="#" target="_blank">澳大利亚xx培训学校</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div id="Navigation">
                <div class="i_nav clearfix" id="com_mainmenu" editok="online">
                    <div id="smoothmenu1" class="ddsmoothmenu">
                        <ul>
                            <li class="i_n01">
                                <a href="/" class="{{if eq .controllerName "home"}}navactive{{end}}">
                                    <div class="menuimg"></div>
                                    <div class="menuword">首页</div>
                                </a>
                            </li>
                            <li class="i_n02">
                                <a href="/list/index?categoryId=1" class="{{if eq .controllerName "news"}}navactive{{end}} nava">
                                    <div class="menuimg"></div>
                                    <div class="menuword">资讯</div>
                                </a>
                                <ul>
                                    <li>
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <a href="/list/index?categoryId=1&subCategoryId=11">政策新闻</a>
                                            <a href="/list/index?categoryId=1&subCategoryId=12">行业动态</a>
                                            <a href="/list/index?categoryId=1&subCategoryId=13">飞机介绍</a>
                                            <a href="/list/index?categoryId=1&subCategoryId=14">航空英语</a>
                                            <a href="/list/index?categoryId=1&subCategoryId=15">常见问题</a>
                                        </table>
                                    </li>
                                </ul>
                            </li>
                            <li class="i_n03">
                                <a href="/list/index?categoryId=2" class=" {{if eq .controllerName "project"}}navactive{{end}} nava">
                                    <div class="menuimg"></div>
                                    <div class="menuword">培训项目</div>
                                </a>
                                <ul>
                                    <li>
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <a href="/list/index?categoryId=2&subCategoryId=21">私人飞行执照</a>
                                            <a href="/list/index?categoryId=2&subCategoryId=22">仪器仪表执照</a>
                                            <a href="/list/index?categoryId=2&subCategoryId=23">商业飞行执照</a>
                                            <a href="/list/index?categoryId=2&subCategoryId=24">多引擎飞行执照</a>
                                            <a href="/list/index?categoryId=2&subCategoryId=25">飞行维护培训</a>
                                        </table>
                                    </li>
                                </ul>
                            </li>
                            <li class="i_n04">
                                <a href="/list/index?categoryId=3" class="{{if eq .controllerName "student"}}navactive{{end}} nava">
                                    <div class="menuimg"></div>
                                    <div class="menuword">招生</div>
                                </a>
                                <ul>
                                    <li>
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <a href="＃">在线表格</a>
                                            <a href="/list/index?categoryId=3&subCategoryId=32">培训学校</a>
                                            <a href="/list/index?categoryId=3&subCategoryId=33">招生代理</a>
                                        </table>
                                    </li>
                                </ul>
                            </li>
                            <li class="i_n05">
                                <a href="/list/index?categoryId=4" class="{{if eq .controllerName "about"}}navactive{{end}} nava">
                                    <div class="menuimg"></div>
                                    <div class="menuword">俱乐部</div>
                                </a>
                                <ul>
                                    <li>
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <a href="/list/index?categoryId=4&subCategoryId=41">服务宗旨</a>
                                            <a href="/list/index?categoryId=4&subCategoryId=42">会员特权</a>
                                            <a href="/list/index?categoryId=4&subCategoryId=43">合作加盟</a>
                                            <a href="#">论坛</a>
                                        </table>
                                    </li>
                                </ul>
                            </li>
                            <li class="i_n03">
                                <a href="/list/index?categoryId=5" class=" {{if eq .controllerName "project"}}navactive{{end}} nava">
                                    <div class="menuimg"></div>
                                    <div class="menuword">关于</div>
                                </a>
                                <ul>
                                    <li>
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <a href="/list/index?categoryId=5&subCategoryId=51">关于</a>
                                        </table>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="spacer">
            </div>
        </div>