{{set . "controllerName" .controllerName}}
{{append . "moreStyles" "/css/main.css"}}
{{set . "title" "Home"}}
{{append . "moreScripts" "/public/js/page/list.js"}}
{{template "header.html" .}}
<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/semantic-ui/0.16.1/css/semantic.min.css">
<!-- <div class="content" id="com_thenm_banner" editok="online">
    <a class="pimg_banner">
        <img src="http://www.whyyjzgs.com/upload/201408/1407922714.jpg" style="border:0px;width:1000px;height:267px">
    </a>
</div> -->
<div class="main container content" ng-controller='ListController'>
    {{template "common/spinner.html" .}}
    <div class="ui animated big list">
        <div class="item" ng-repeat='post in posts'>
            <i class="right triangle icon"></i>
            <a href="/post/index?stamp=[[post.Stamp]]">[[post.Title]]</a>
            <div class="right-icon">
                <i class="time icon"></i>[[post.Date]]
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}