<!-- {{set . "controllerName" .controllerName}} -->
{{set . "title" "爱飞网"}}
{{append . "moreScripts" "/public/js/page/list.js"}}
{{append . "moreScripts" "/public/js/page/category.js"}}
{{template "common/header.html" .}}
<!--content-->
<div class="content">
    {{template "common/navigation.html" .}}
    <!--right-->
    <div class="right">
        <div class="title1" ng-controller="CategoryController">
            <a href="/">飞行网</a>
            <span>></span>[[currentCategory.name]]
        </div>
        <div class="company-about">
            <div class="title2" ng-controller="CategoryController">
                <a ng-href="/list/index?categoryId=[[categoryId]]&subCategoryId=[[subCategory.id]]" class="news-select [[subCategory.selected]]" ng-repeat="subCategory in subCategories">
                    [[subCategory.name]]
                </a>
            </div>
            <ul class="news-center" ng-controller='ListController'>
                <li ng-repeat='post in posts'>
                    <a ng-href="/post/index?stamp=[[post.Stamp]]">[[post.Title]]</a>
                    <span class="new-hour">[[post.Date]]</span>
                </li>
            </ul>
            <div class="num-page">
                <a href="javascript:void(0);">&lt; 上一页</a>
                <a href="javascript:void(0);" class="selected">1</a>
                <a href="javascript:void(0);">2</a>
                <a href="javascript:void(0);">3</a>
                <a href="javascript:void(0);">下一页 &gt;</a>
            </div>
        </div>
    </div>
    <!--right-->
    <div class="clear"></div>
</div>
<!--content_end-->
<div class="clear" style="height:30px;"></div>
{{template "common/footer.html" .}}