<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/public/css/v2/main.css" type="text/css" rel="stylesheet" />
        {{range .moreStyles}}
        <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}
        <!--[if IE 6]>
        <script type="text/javascript" src="scripts/DD_belatedPNG_0.0.8a-min.js" ></script>
        <script type="text/javascript" src="scripts/fixpng.js" ></script>
        <![endif]-->
        <title>lovefly-{{.title}}</title>
    </head>
    <body ng-app="lovefly">
        <!--header-->
        <div class="header">
            <div class="header_content">
                <a href="/"><img src="/public/img/v2/flylogo.png" class="logo" /></a>
                <ul>
                    {{if .username}}
                        {{if ne .username ""}}
                        <li style="margin-left:18px;"><a href="/login/logout">退出</a></li>
                        <li style="margin-left:18px;"><a href="/">{{.username}}</span>，你好</a></li>

                        <li class="menu_myaccount">
                            <a href="javascript:void(0);" class="mmac_title">我的账户</a>
                            <div class="menu_myaccount_extent">
                                <p><a href="javascript:void(0);">我的账户</a></p>
                                <dl>
                                    <dd style="padding:0;"><a href="#">个人资料</a></dd>
                                    <dd><a href="#">我的留言</a></dd>
                                </dl>
                            </div>
                        </li>
                        {{end}}
                    {{else}}
                        <li style="margin-left:18px;"><a href="/register/index">注册</a></li>
                        <li style="margin-left:18px;"><a href="/login/index">登录</a></li>
                    {{end}}
                    <li>咨询热线：400-602-1513</li>
                </ul>
            </div>
        </div>
        <!--header_end-->