<!--nav-->
     <dl class="nav">
         <dt>&nbsp;<img src="/public/img/v2/nav-title.png" /><span>网站导航</span></dt>

         <dd>
            <a class="nav_title" href="/">首页</a>
         </dd>

         <dd>
            <a class="nav_title" href="/list/index?categoryId=1">资讯</a>
            <p class="orange_arrow"></p>
            <ul>
                <li><a href="/list/index?categoryId=1&subCategoryId=11">政策新闻</a></li>
                <li><a href="/list/index?categoryId=1&subCategoryId=12">行业动态</a></li>
                <li><a href="/list/index?categoryId=1&subCategoryId=13">飞机介绍</a></li>
                <li><a href="/list/index?categoryId=1&subCategoryId=14">航空英语</a></li>
                <li><a href="/list/index?categoryId=1&subCategoryId=15">常见问题</a></li>
            </ul>
         </dd>

         <dd>
             <a class="nav_title" href="/list/index?categoryId=2">培训项目</a>
             <p class="orange_arrow"></p>
             <ul>
                <li><a href="/list/index?categoryId=2&subCategoryId=21">私人飞行执照</a></li>
                <li><a href="/list/index?categoryId=2&subCategoryId=22">仪器仪表执照</a></li>
                <li><a href="/list/index?categoryId=2&subCategoryId=23">单引擎商业飞行执照</a></li>
                <li><a href="/list/index?categoryId=2&subCategoryId=24">多引擎商业飞行执照</a></li>
                <li><a href="/list/index?categoryId=2&subCategoryId=25">多引擎飞行执照</a></li>
                <li><a href="/list/index?categoryId=2&subCategoryId=26">飞行维护培训</a></li>
            </ul>
         </dd>

         <dd>
             <a class="nav_title" href="/list/index?categoryId=3">招生</a>
             <p class="orange_arrow"></p>
             <ul>
                <li><a href="/list/index?categoryId=3&subCategoryId=31">我要报名</a></li>
                <li><a href="/list/index?categoryId=3&subCategoryId=31">培训学校</a></li>
                <li><a href="/list/index?categoryId=3&subCategoryId=31">招生代理</a></li>
                <li><a href="/list/index?categoryId=3&subCategoryId=31">助学贷款</a></li>
            </ul>
         </dd>

         <dd>
             <a class="nav_title" href="/list/index?categoryId=4">俱乐部</a>
             <p class="orange_arrow"></p>
             <ul>
                <li><a href="/list/index?categoryId=4&subCagetoryId=41">服务宗旨</a></li>
                <li><a href="/list/index?categoryId=4&subCagetoryId=42">会员特权</a></li>
                <li><a href="/list/index?categoryId=4&subCagetoryId=43">合作加盟</a></li>
                <li><a href="/">论坛</a></li>
            </ul>
         </dd>

         <dd>
            <a class="nav_title" href="/list/index?categoryId=5&subCategoryId=51">关于我们</a>
         </dd>

     </dl>
     <!--nav_end-->