<!--nav-->
     <dl class="nav">
         <dt>&nbsp;<img src="/public/img/v2/nav-title.png" /><span>网站导航</span></dt>

         <dd>
            <a class="nav_title" href="#">首页</a>
         </dd>

         <dd>
            <a class="nav_title" href="#">资讯</a>
            <p class="orange_arrow"></p>
            <ul>
                <li><a href="#">政策新闻</a></li>
                <li><a href="#">行业动态</a></li>
                <li><a href="#">飞机介绍</a></li>
                <li><a href="#">航空英语</a></li>
                <li><a href="#">常见问题</a></li>
            </ul>
         </dd>

         <dd>
             <a class="nav_title" href="#">培训项目</a>
             <p class="orange_arrow"></p>
             <ul>
                <li><a href="#">私人飞行执照</a></li>
                <li><a href="#">仪器仪表执照</a></li>
                <li><a href="#">单引擎商业飞行执照</a></li>
                <li><a href="#">多引擎商业飞行执照</a></li>
                <li><a href="#">多引擎飞行执照</a></li>
                <li><a href="#">飞行维护培训</a></li>
            </ul>
         </dd>

         <dd>
             <a class="nav_title" href="#">招生</a>
             <p class="orange_arrow"></p>
             <ul>
                <li><a href="#">我要报名</a></li>
                <li><a href="#">培训学校</a></li>
                <li><a href="#">招生代理</a></li>
                <li><a href="#">助学贷款</a></li>
            </ul>
         </dd>

         <dd>
             <a class="nav_title" href="#">俱乐部</a>
             <p class="orange_arrow"></p>
             <ul>
                <li><a href="#">服务宗旨</a></li>
                <li><a href="#">会员特权</a></li>
                <li><a href="#">合作加盟</a></li>
                <li><a href="#">论坛</a></li>
            </ul>
         </dd>

         <dd>
            <a class="nav_title" href="#">关于我们</a>
         </dd>

     </dl>
     <!--nav_end-->